In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
import xlrd

**1.Series的创建**

两种创建模式
1.列表创建
2.numpy创建

In [2]:
list1 = [i for i in range(2,10,2)]
s = Series(list1)
s

0    2
1    4
2    6
3    8
dtype: int64

In [3]:
display(s.index,s.values)

RangeIndex(start=0, stop=4, step=1)

array([2, 4, 6, 8], dtype=int64)

In [4]:
s[0]=10
s

0    10
1     4
2     6
3     8
dtype: int64

In [5]:
list1

[2, 4, 6, 8]

In [6]:
n = np.arange(1,10,2)
s = Series(n)
s

0    1
1    3
2    5
3    7
4    9
dtype: int32

In [7]:
s[0] = 11
s

0    11
1     3
2     5
3     7
4     9
dtype: int32

In [8]:
# 如果由ndarray创建Series，那么传递的是ndarray的引用，
# 对Series的修改也会影响原来的ndarray
n

array([11,  3,  5,  7,  9])

练习1：
使用多种方法创建一下Series,命名为s1
语文 150
数学 150
英语 150
理综 300

In [9]:
s1 = Series(index=['语文','数学','英语','理综'],data=[150]*3+[300])
s1

语文    150
数学    150
英语    150
理综    300
dtype: int64

In [10]:
data={
    '语文':150,
    '数学':150,
    '英语':150,
    '理综':300
}
s1 = Series(data)
s1

语文    150
数学    150
英语    150
理综    300
dtype: int64

**2.Series的索引和切片**

In [11]:
# 可以使用中括号取单个索引（此时返回的是元素类型），
# 或者中括号里一个列表取多个索引（此时返回的仍是一个Series类型）
# 分为显示索引和隐式索引
    #1.显示索引：
    #     -使用index中的元素作为索引值
    #     -使用loc[](推荐)
s = Series(data=[1,2,3,4],index=['a','b','c','d'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
s['a'] # 不推荐写法

1

In [13]:
s.loc['a'] # 推荐写法

1

In [14]:
s.loc['a':'c'] # 全闭区间

a    1
b    2
c    3
dtype: int64

In [15]:
#2.隐式索引：
#     -使用整数作为索引值
#     -使用iloc[](推荐)
s

a    1
b    2
c    3
d    4
dtype: int64

In [16]:
s[0] # 不推荐写法

1

In [17]:
s.iloc[0] # 推荐写法

1

In [18]:
s.iloc[0:2] # 前闭后开

a    1
b    2
dtype: int64

练习2：
使用多种方法对练习1创建的Series s1进行索引和切片：
索引： 数学 150
切片： 语文150 数学150 英语 150

In [19]:
s1

语文    150
数学    150
英语    150
理综    300
dtype: int64

In [20]:
s1.loc[['数学']] # 再套一层中括号，返回原来的数据类型

数学    150
dtype: int64

In [21]:
s1.loc['语文':'英语']

语文    150
数学    150
英语    150
dtype: int64

In [22]:
s1.iloc[[1]]

数学    150
dtype: int64

In [23]:
s1.iloc[0:3]

语文    150
数学    150
英语    150
dtype: int64

**3.Series的基本概念**

可以把Series看成一个定长的有序字典
可以通过shape，size，index，values等得到Series的属性

In [24]:
s = Series(np.arange(1,100,10))
s

0     1
1    11
2    21
3    31
4    41
5    51
6    61
7    71
8    81
9    91
dtype: int32

In [25]:
s.shape

(10,)

In [26]:
s.size

10

In [27]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [28]:
s.values

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [29]:
s.head()

0     1
1    11
2    21
3    31
4    41
dtype: int32

In [30]:
s.tail()

5    51
6    61
7    71
8    81
9    91
dtype: int32

In [31]:
s.loc[0] = None
s

0     NaN
1    11.0
2    21.0
3    31.0
4    41.0
5    51.0
6    61.0
7    71.0
8    81.0
9    91.0
dtype: float64

In [32]:
s.isnull()

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [33]:
s.notnull()

0    False
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [34]:
s.name = 'SSS'
s

0     NaN
1    11.0
2    21.0
3    31.0
4    41.0
5    51.0
6    61.0
7    71.0
8    81.0
9    91.0
Name: SSS, dtype: float64

In [35]:
Series.name = 'QQQ'
s

0     NaN
1    11.0
2    21.0
3    31.0
4    41.0
5    51.0
6    61.0
7    71.0
8    81.0
9    91.0
Name: QQQ, dtype: float64

**Series的运算**

In [36]:
# 1.适用于numpy的数组运算也适用于Series
s+1

0     NaN
1    12.0
2    22.0
3    32.0
4    42.0
5    52.0
6    62.0
7    72.0
8    82.0
9    92.0
Name: QQQ, dtype: float64

In [37]:
# 2.Series之间的运算
#     -在运算中自动对齐不同索引的数据
#     -如果索引不对应，则补NaN
s2 = Series(np.arange(0,10),index=np.arange(1,11))
display(s,s2)

0     NaN
1    11.0
2    21.0
3    31.0
4    41.0
5    51.0
6    61.0
7    71.0
8    81.0
9    91.0
Name: QQQ, dtype: float64

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int32

In [38]:
# 相同的索引进行运算，不同则补NaN
#  注意：要想保留所有的index，则需要使用add()函数
s+s2

0      NaN
1     11.0
2     22.0
3     33.0
4     44.0
5     55.0
6     66.0
7     77.0
8     88.0
9     99.0
10     NaN
dtype: float64

In [39]:
s.add(s2,fill_value=0)

0      NaN
1     11.0
2     22.0
3     33.0
4     44.0
5     55.0
6     66.0
7     77.0
8     88.0
9     99.0
10     9.0
dtype: float64

练习3：
1.想一想Series运算和ndarray运算的规则有什么不同？
2.新建另一个索引包含“文综”的Series s2，并与s1进行多种算数操作，思考如何保存所有数据

In [42]:
ndarray有广播机制，Series没有广播机制，Series只是根据相同的索引进行运算

In [45]:
n1 = np.arange(1,10)
n2 = np.arange(1)
display(n1,n2)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

array([0])

In [46]:
n1*n2

array([0, 0, 0, 0, 0, 0, 0, 0, 0])

In [47]:
data = {'语文': 120, '数学': 140, '英语': 100, '文综': 270}
s2 = Series(data)
display(s1,s2)

语文    150
数学    150
英语    150
理综    300
Name: QQQ, dtype: int64

语文    120
数学    140
英语    100
文综    270
dtype: int64

In [48]:
display(s1.sum(),s2.sum())

750

630

In [49]:
s1+s2

数学    290.0
文综      NaN
理综      NaN
英语    250.0
语文    270.0
dtype: float64

In [ ]:
s1.add(s2,fill_value=0)

In [ ]:
s1/s2

In [ ]:
s1*s2